.cash {
  background-color: #2D7DBC;
}

.bonds {
  background-color: #FFD034;
}

.gold {
  background-color: #DB3A34;
}

.options {
  background-color: #4A4A4A;
}

.stocks {
  background-color: #037365;
}
