.MoneyInput {
  display: flex;
  flex-direction: column;
}

.MoneyInput .inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.MoneyInput .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.MoneyInput button {
  margin: 20px 5px;
}

@media only screen and (max-device-width : 480px) {
  .MoneyInput .inputs {
    flex-direction: column;
  }

  .MoneyInput .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
