.MoneyRecommendations ul {
  padding: 0px;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
}

.MoneyRecommendations li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.2em;
}

.recommended-distribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recommended-distribution > div {
  margin: 0 5px;
  box-shadow: 2px 2px 2px #379186;
}

.recommended-distribution div .title {
  padding: 0px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
}

.recommended-distribution div .value {
  padding: 0px;
  font-size: 1.1em;
  width: 95px;
  height: 50px;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-device-width : 480px) {
  .recommended-distribution {
    flex-direction: column;
  }

  .recommended-distribution > div {
    width: 280px;
    margin: 5px 10px;
  }

  .recommended-distribution > div .value {
    width: 100%;
  }
}
